.bodie {
    width: 1440px;
    height: 1277px;
}

body {
    background-color: #E9E9E3;
}

.mn {
    font-size: 18px;
    position: absolute;
    top: 120px;
    left: 56px;
    right: 1335px;
    bottom: 1135px;
}

.pMn {
    position: absolute;
    top: 159px;
    left: 56px;
    right: 826px;
    bottom: 983px;
}

.divMn {
    font-family: sans-serif;
    margin-top: 60px;
    margin-left: 25px;
    color: #6F6F64;
    font-size: 32px;
}

button {
    position: absolute;
    left: 56px;
    right: 853px;
    background-color: #E9E9E3;
    border-color: #6F6F64;
    color: #6F6F64;
    border-style: solid;
    border-width: 2px;
    height: 58px;
    width: 531px;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
    font-family: sans-serif;
}

.bttBackground {
    background-color: #6F6F64;
    color: #FFFFFF;
}

.button1 {
    top: 368px;
    bottom: 851px;
}

.button2 {
    top: 438px;
    bottom: 781px;
}

.button3 {
    top: 508px;
    bottom: 711px;
}

.img {
    position: absolute;
    left: 720px;
    top: 120px;
    height: 1037px;
    width: 664px;
}
